@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none;
     /* border: 1px solid red; */
}

:root {
     font-family: 'Inter', sans-serif;
     --orange-dark: #ff5e20;
     --orange-white: #FF7517;
     --bg-low-orange: #ffedd5;
     --bg-white: #f2f4fd;
     --font-black: #262626;
     --border-gray-color: #e5e5e5;
}

html {
     scroll-behavior: smooth;
}

body {
     height: 100vh;
     background: linear-gradient(180deg, #ff5e20, #FF7517);
}

header {
     position: fixed;
     width: 100%;
     height: 15vh;
     background: var(--orange-dark);
     border-bottom: 1px solid var(--orange-white);
     display: flex;
     align-items: center;
     justify-content: center;
     display: flex;
     z-index: 1;
     transition: 300ms;
}

.sticky {
     height: 10vh;
}

#progress-bar {
     width: .5rem;
     width: 0%;
     height: 3px;
     top: 0%;
     position: fixed;
     background-color: var(--bg-white);
     z-index: 10;

}

nav {
     width: 65rem;
     height: 60%;
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-between;
}

nav ul {
     display: inline-flex;
     align-items: center;
     gap: 40px;
}

ul li {
     list-style-type: none;
}

a {
     font-weight: 500;
     color: var(--bg-white);
}

#btnLocation {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 15px;
     background-color: var(--bg-white);
     color: var(--orange-white);
     padding: 10px 25px;
     box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.288);
     transition: border-radius 0.4s ease;
}

#btnLocation:hover {
     border-radius: 20px;
}

#btnLocation span {
     font-size: 20pt;
}


.navLink:after {
     content: '';
     position: relative;
     width: 0;
     height: 3px;
     display: block;
     margin-top: 0px;
     left: 0%;
     background: var(--bg-white);
     transition: width .3s ease;
     top: 10px;
}

.navLink:hover:after {
     width: 100%;
     left: 0%;
     background: var(--bg-white);
}

section {
     display: flex;
     align-items: center;
     justify-content: center;
     display: flex;
     height: 100vh;
     width: 100%;
}

.container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     width: 65rem;
}

.left-container {
     display: flex;
     align-items: center;
     height: 25rem;
     width: 30rem;
}

.left-container h1 {
     font-size: 35pt;
     color: var(--bg-white);
     font-weight: 600;
}

.left-container h3 {
     font-size: 12pt;
     color: var(--bg-white);
     font-weight: 500;
}

.info-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
}

.info-container a {
     margin-top: 10px;
}

.right-container {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 25rem;
     width: 25rem;
     border-radius: 12px;
}

.video-container {
     height: 25rem;
     width: 20rem;
}

.video-container video {
     height: 25rem;
     width: 20rem;
     object-fit: cover;
     border-radius: 12px;
}

.framer {
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     height: 65px;
     width: 65px;
     background-color: var(--bg-white);
     border-radius: 4px;
     padding: 5px;
     box-shadow: 0px 8px 25px rgba(229, 102, 29, 0.192);
}

.shield {
     right: 20px;
     top: 25px;
     animation: slide2 5s cubic-bezier(.51, 0, .41, 1) infinite both;
}

.lock {
     left: 20px;
     bottom: 100px;
     animation: slide2 10s ease infinite both;
}

.cam {
     right: 80px;
     bottom: 20px;
     animation: slide3 6s ease infinite both;
}

.house {
     left: 50px;
     top: 50px;
     animation: slide1 10s cubic-bezier(.51, 0, .41, 1) infinite both;
}

.framer i {
     font-size: 25pt;
     color: var(--orange-dark);
}

.section-about {
     background-color: var(--bg-white);
     height: 85vh;
}

h4 {
     color: var(--orange-dark);
     font-size: 10pt;
     font-weight: 700;
}

h2,
h3 {
     color: var(--font-black);
     line-height: 1;
}

p {
     font-weight: 400;
     color: #404040;
}

.right-container-center {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.image-container {
     height: 20rem;
     width: 100%;
}

.image-container img {
     height: 20rem;
     width: 100%;
     object-fit: cover;
}

.right-complement-container {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 20%;
     width: 100%;
}

.complement-container {
     display: flex;
     flex-direction: column;
     gap: 5px;
}

.complement-container h3 {
     font-size: 25pt;
}

.separator-small-size {
     background-color: var(--orange-dark);
     width: 50px;
     height: 5px;
}

.section-clients {
     background-color: var(--bg-white);
     height: 15vh;
}

.section-clients .container {
     flex-direction: column;
}

.content-clients {
     display: flex;
     gap: 3rem;
     filter: grayscale(100%);
}

.section-service {
     background: #ffedd5;
}

.service-content {
     display: flex;
     flex-direction: row;
}

.section-service .container {
     flex-direction: column;
     gap: 2.5rem;
}

.service-content div {
     width: 50%;

}

.service-box {
     width: 100%;
     display: flex;
     flex-direction: row;
     gap: 10px;
}

.service-box-info {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 17rem;
     background-color: white;
     box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.096);
     transition: 300ms;
}

.service-box-info:hover {
     transform: scale(1.05);
}

.container-service-box {
     display: flex;
     flex-direction: column;
     gap: 5px;
     width: 80%;
     height: 80%;
}

.container-service-box span {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     font-size: 20pt;
     border: 1px solid var(--orange-dark);
}

.container-service-box span i {
     color: var(--orange-dark);
}

.section-depoiments {
     background: var(--bg-white);
}

.section-depoiments .container {
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.depoiments-content {
     display: flex;
     flex-direction: row;
     flex: 1;
     gap: 15px;
     width: 100%;
     height: 23rem;
}

.depoiments-box-info {
     width: 50%;
     height: 50%;
     background: white;
     box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.096);
     border-radius: 14px;
     border: 1px solid var(--border-gray-color);
}

.container-depoiments-box {
     padding: 25px;
}

.container-depoiments-box .top-depoiments-box {
     display: flex;
     align-items: center;
     gap: 15px;
}

.top-depoiments-box img {
     width: 55px;
     border-radius: 50%;
}

.top-depoiments-name {
     display: flex;
     flex-direction: column;
}

.top-depoiments-name strong p {
     font-weight: 700;
     font-size: 14pt;
}

.top-depoiments-name p {
     font-size: 10pt;
}

.bottom-depoiments-box p {
     margin-top: 10px;
}

.section-contact {
     background: var(--bg-low-orange);
}

.section-contact .container {
     flex-direction: row;
}

.contact-content {
     display: flex;
     flex-direction: column;
     gap: 30px;
}

.contact-box-info {
     display: flex;
     flex-direction: column;
     gap: 35px;
}

.container-contact-box {
     display: flex;
     align-items: center;
     gap: 10px;
}

.contact-icons {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 1px solid var(--orange-dark);
     color: var(--orange-dark);
     font-size: 20pt;
}

form {
     display: flex;
     flex-direction: column;
     width: 30rem;
     height: 100%;
     gap: 10px;
     background: white;
     padding: 20px;
     border: 1px solid var(--border-gray-color);
}

form input,
form textarea {
     font-family: 'Inter', sans-serif;
     font-weight: 500;
     font-size: 12pt;
     padding: 25px 10px;
     border: none;
     background-color: var(--bg-white);
}

form input::placeholder,
form textarea::placeholder {
     font-family: 'Inter', sans-serif;
     font-weight: 700;
}

textarea:focus,
input:focus {
     outline: 0;
}

form .form-btn-submit {
     cursor: pointer;
     font-weight: 700;
     letter-spacing: 1px;
     color: white;
     background: var(--orange-dark);
     transition: 300ms;
}

form .form-btn-submit:hover {
     background: var(--orange-white);
}

footer {
     height: 35vh;
     background: var(--font-black);
}

footer section {
     height: 100%;
}

.section-footer {
     display: flex;
     flex-direction: column;
     gap: 20px;
}

footer h1 {
     color: var(--bg-white);
     line-height: 25px
}

footer p {
     color: var(--bg-white);
}

.footer-content {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     justify-content: space-between;
     padding-bottom: 30px;
}

.box-socials {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.footer-socials-container {
     display: flex;
     justify-content: space-between;
}

.socials-icons {
     font-size: 20pt;
     color: white;
}

footer .container {
     border-bottom: 1px solid var(--border-gray-color);
}

@keyframes slide1 {
     0% {
          transform: translateY(0px) translateX(0px);
     }

     40% {
          transform: translateY(-35px) translateX(-35px);
     }

     0% {
          transform: translateY(0px) translateX(0px);
     }
}

@keyframes slide2 {
     0% {
          transform: translateY(0px) translateX(0px);
     }

     40% {
          transform: translateY(20px) translateX(0);
     }

     0% {
          transform: translateY(0px) translateX(0px);
     }
}

@keyframes slide3 {
     0% {
          transform: translateY(0px) translateX(0px);
     }

     40% {
          transform: translateY(20px) translateX(20px);
     }

     0% {
          transform: translateY(0px) translateX(0px);
     }
}